<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Course Game</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" 	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="./css/bootstrap.css" media="screen">

</head>
<body>
	<form id="addGameForm" method="post">
	<div class="page-header" id="banner"
			style="border-bottom: 0px solid #eee;">

			<!-- Navbar -->
			<div class="bs-docs-section clearfix"></div>
			<div class="container">

				<div id="loginbox"
					class="mainbox col-md-8 col-sm-8 ">


					<div class="panel panel-default">
						

						<div class="panel-body">
							<div class="form-horizontal">
								<div class="input-group" style="margin-bottom: 25px;">
									<label>Game Name : 
									<input id="gamename" type="text" class="form-control" name="gamename"
										value="" placeholder="Insert Game Name" autocomplete="off"  
										required value=""  ng-model="game.title" >
									</label>
								</div>

								<div class="input-group" style="margin-bottom: 25px;">
									<label>Game Level : 
									<input id="gamelevel" type="text" class="form-control" name="gamelevel"
										required value=""  ng-model="game.difLevel" >
									</label>
								</div>	

								<div class="input-group" style="margin-bottom: 25px;">
									<label>Game Points : 
									<input id="gamepoints" type="text" class="form-control" name="gamepoints"
										required value=""  ng-model="game.points" >
									</label>
								</div>	

								<div class="input-group" style="margin-bottom: 25px;">
									<label>Game startTime : 
									<input id="gamepoints" type="text" class="form-control" name="gamepoints"
										required value=""  ng-model="game.startTime" >
									</label>
								</div>

								<div class="input-group" style="margin-bottom: 25px;">
									<label>Game endTime : 
									<input id="gamepoints" type="text" class="form-control" name="gamepoints"
										required value=""  ng-model="game.endTime" >
									</label>
								</div>

								<div class="input-group" style="margin-bottom: 25px;">
									<label>Game maxAttempt : 
									<input id="gamepoints" type="text" class="form-control" name="gamepoints"
										required value=""  ng-model="game.maxAttempt" >
									</label>
								</div>

								<div class="input-group" style="margin-bottom: 25px;">
									<label>Game minScore : 
									<input id="gamepoints" type="text" class="form-control" name="gamepoints"
										required value=""  ng-model="game.minScore" >
									</label>
								</div>

								<div class="input-group" style="margin-bottom: 25px;">
									<label>Game desc : 
									<input id="gamepoints" type="text" class="form-control" name="gamepoints"
										required value=""  ng-model="game.desc" >
									</label>
								</div>

								<div class="form-group" style="margin-bottom: 0px;">
									<!-- Button -->
									<div class="col-sm-12 controls">
										<button type="submit" class="btn btn-primary pull-right" ng-click="submit()">
											<i class="glyphicon glyphicon-log-in"  ></i> Submit
										</button>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>

</html>
